body{
    background-color: rgb(0, 0, 0);
}

header.wrapper {
    display: flex;
    gap: 150px;
    justify-content: center;
    font-family: "monteserrat", sans-serif;
    align-items: center;
    color: #ffffff;
    height: 88px;
    /* margin: auto; */
    padding-right: 200px;
}
a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 5px;
    transition: all 0.3s;
    position: relative;
}
a:hover{
    color: #00bbff;
    text-decoration: underline;
    text-underline-offset:15px;
    text-decoration-thickness:1px ;
}
.logo{
    width: 80px;
    height: auto;
    float: left;
}
.My-image{
    display: block;
    margin-left: auto;
    margin-right: 50px;
    width: 50%;
    margin-top: 10px;
}
h1{
    color: #ffffff;
    font-family: "monteserrat", sans-serif;
    padding-left: 70px;
    margin-top: -500px;
    font-size: 50px;
}
h2{
    color: #00bbff;
    font-family: "monteserrat", sans-serif;
    font-size: 20px;
    padding-left: 70px;
    font-weight: normal;
    margin-top: 5px;
    letter-spacing: 3px;
}
h3{
    color: #ffffff;
    font-family: "monteserrat", sans-serif;
    padding-left: 70px;
    width: 550px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 100;
    padding-top: 30px;
}
.slider {
    position: relative;
    max-width: 1550px;
    margin: 300px auto;
    width: 100%;
}

/* العنوان */
.title_slide {
    color: #00c8ff;
    font-family: "monteserrat", sans-serif;
    text-align: center;
    margin: 0 0 60px 0;   /* مسافة تحت العنوان */
    letter-spacing: 5px;
    padding-right: 130px;
}

span.of {
    color: white;
}

/* منطقة العرض */
.viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* الصور */
.slides {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

/* كل صورة */
.slide {
    flex: 0 0 auto;
    height: 300px;
    width: auto;
    border: 5px solid #00bbff;
    border-radius: 12px;
}

/* الأسهم */
.arrow {
    position: absolute;
    top: 22%;                     /* في نص الصور */
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.55);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.9);
}







.slidertwo {
    position: relative;
    max-width: 1550px;
    margin: 30px auto;
    width: 100%;
}

/* العنوان */
.title_slidetwo {
    color: #00c8ff;
    font-family: "monteserrat", sans-serif;
    text-align: center;
    margin: 0 0 40px 0;   /* مسافة تحت العنوان */
    letter-spacing: 5px;
}

/* منطقة العرض */
.viewporttwo {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* الصور */
.slidestwo {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

/* كل صورة */
.slidetwo {
    flex: 0 0 auto;
    height: 300px;
    width: auto;
    border: 5px solid #00bbff;
    border-radius: 12px;
}

/* الأسهم */
.arrowtwo {
    position: absolute;
    top: 50%;                     /* في نص الصور */
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.55);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrowtwo.lefttwo {
    left: 10px;
}

.arrowtwo.righttwo {
    right: 10px;
}

.arrowtwo:hover {
    background: rgba(0, 0, 0, 0.9);
}


a.cv{
    all: unset;
    display: inline-block;
    font-family: "monteserrat", sans-serif;
    padding: 20px;
    margin-top: 45px;
    margin-left: 450px;
    border: 2px solid #00b3ff;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight:700;
    transition: ease 0.3s;
}
a.cv:hover{
    background-color: #00b3ff;
    color: white;
    transform: scale(1.05);
}




:root {
  --bg: #050a18;
  --card: #11162a;
  --cyan: #00e5ff;
  --blue: #3b82f6;
  --muted: #ffffff; /* نص الكارت أبيض */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--muted);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; /* يمنع أي scroll جانبي */
}

.profile-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 15px; /* حواف أخف */
  max-width: 1200px;
  margin: 0 auto;     /* في المنتصف */
}

.card {
  background: linear-gradient(180deg, #0f172a, var(--card));
  border-radius: 18px;
  padding: 50px 25px; /* padding جوه الكارت */
  border: 1px solid rgba(0,229,255,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0px 30px rgb(0, 195, 255);
}

/* العنوان الكبير */
.card h3 {
    margin-right: 70px;
  margin-top: -40px;
  color: var(--cyan);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
    /* text-shadow: 0 0 5px var(--cyan); */
  transition: text-shadow 0.3s ease;
}



/* نصوص الكارت أبيض */
.card .title,
.card span,
.card p {
  color: var(--muted);
  font-size: 15px;
  margin: 4px 0;
}

/* Items والـskills */
.item,
.skill {
  width: 100%;
  margin-bottom: 15px;
}

.skill span {
  font-size: 13px;
}

/* Skill bars */
.bar {
  background: #1f2933;
  height: 6px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 6px;
}

.bar div {
  height: 100%;
  background: linear-gradient(90deg, var(--cyan), var(--blue));
  transition: width 0.5s ease, box-shadow 0.3s ease;
}

.bar div:hover {
  box-shadow: 0 0 15px var(--cyan), 0 0 25px var(--blue);
}


.footer {
  background: linear-gradient(180deg, #0b0f1a, #020617);
  padding-left: 60px  ;
  padding-right: 60px  ;
  padding-top: 20px  ;
  /* margin-top: 20px; */
  border-top: 1px solid rgba(0,229,255,0.15);
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.footer h3 {
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  margin-left: 235px;
}

.footer p {
  color: var(--text);
  font-size: 14px;
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
    margin-bottom: 30px;
}

.social-links a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cyan);
  font-size: 20px;
  padding-left: 4px;
  border: 1px solid rgba(0,229,255,0.2);
  transition: all 0.3s ease;
}

.social-links a:hover {
  background: linear-gradient(135deg, var(--cyan), var(--blue));
  color: #000;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 30px rgba(0,229,255,0.45);
}


.footer span {
  display: block;
  margin-bottom: -300px;
  padding-bottom: 50px;
  line-height: 1;
}


.social-links a i {
  display: block;
  line-height: 2;
}

.footer-content h3 .us{
    all: unset;
    color: rgb(0, 204, 255);
}

